<div class="calendar-postion">
  <div class="calendar-index-wrapper">
    <div class="calendar-index-navbar">
      <div class="options">
        <% if params[:period] == 'past' %>
          <div class="option"><%= link_to 'Upcoming', welcome_calls_path(period: 'upcoming') %></div>
          <div class="option active"><%= link_to 'Past', welcome_calls_path(period: 'past') %></div>
        <% else %>
          <div class="option active"><%= link_to 'Upcoming', welcome_calls_path(period: 'upcoming') %></div>
          <div class="option"><%= link_to 'Past', welcome_calls_path(period: 'past') %></div>
        <% end %>
        <!-- <div class="option"><%#= link_to 'Date Range', '#' %></div> -->
      </div>
      <div class="jump-to-call">
        <%= link_to 'appear.in', 'https://whereby.com/stacey-living', target: :_blank %>
      </div>
      <div class="query">
        <%= form_tag welcome_calls_path, method: :get do %>
          <%= text_field_tag :search,
            params[:search],
            class: "form-control",
            placeholder: "Find a welcome call"
          %>
          <%= submit_tag "Search", class: "btn btn-primary d-none" %>
        <% end %>
      </div>
    </div>
    <div class="calls-container">
      <% @dates.each do |date| %>
        <div class="date">
          <%= date.strftime("%A, %d %B %Y") %>
        </div>
        <div class="calls-list">
          <% unless @welcome_calls.empty? %>
            <% @welcome_calls.where(start_time: date.all_day).each do |call| %>
              <div class="call-list-item-container">
                <div class="call-list-item">
                  <div class="call-time">
                    <p><%= call.start_time.strftime("%H:%M") %> - <%= call.end_time.strftime("%H:%M") %></p>
                  </div>
                  <div class="call-info">
                    <p><%= call.name %></p>
                  </div>
                  <!-- this the dropdown -->
                  <div class="details d-flex">
                    <i class="fas fa-caret-right"></i>
                    <i class="fas fa-caret-down d-none"></i>
                    <p>Details</p>
                  </div>
                </div>
                <div class="user-info d-none">
                  <ul>
                    <li>moves in: <%= call.user.move_in.strftime("%d.%B %Y") %></li>
                    <li>moves out: <%= call.user.move_out.strftime("%d.%B %Y") %></li>
                    <li>Phone: <%= call.user.phone_code %> <%= call.user.phone_number %></li>
                    <li>Amount of people: <%= call.user.amount_of_people %></li>
                    <li>Job: <%= call.user.job %></li>
                    <% unless call.user.linkedin.empty? %>
                      <li>LinkedIn: <%= call.user.linkedin %></li>
                    <% end %>
                    <% unless call.user.facebook.empty? %>
                      <li>Facebook: <%= call.user.facebook %></li>
                    <% end %>
                    <% unless call.user.instagram.empty? %>
                      <li>Instagram: <%= call.user.instagram %></li>
                    <% end %>
                    <% unless call.user.twitter.empty? %>
                      <li>Twitter: <%= call.user.twitter %></li>
                    <% end %>
                  </ul>
                </div>
              </div>
            <% end %>
          <% else %>
            <p>Sorry, but there are no calls with that person scheduled</p>
          <% end %>
        </div>
      <% end %>
      <p class="list-end">You´ve reached the end of the list</p>
    </div>
  </div>
</div>
